@import url("https://fonts.googleapis.com/css2?family=Nothing+You+Could+Do&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*

mixin

@mixin fonts{
    $positanofont;
    font-size: 3rem;
    color: $color1
}

p{
    @include fonts;
}

Map, map-get
$colors: (
    primary: #a411b8,
    secundary: #31d1bc,
    backgrounds: #1f1d1d,
);


body{
    background-color: map-get($colors, $backgrounds);
}

extend 

article{
    background-color: $color1;
}

div{
    @extend artcicle;
    background-color: lighten (25%)
}


*/
body {
  background-color: #1f1d1d;
}

.logoframe {
  padding: 20px;
  text-align: center;
}

.logo {
  height: 430px;
  width: 450px;
  padding: 0px;
}

.logo:hover {
  box-shadow: 0px 0px 5px #a411b8, 0px 0px 10px #31d1bc, 0px 0px 25px #a411b8;
  border-radius: 50%;
  transition: all 2s;
}

.navigation {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-image: linear-gradient(to right, #1f1d1d 23%, rgba(165, 17, 184, 0.185));
}

li {
  float: left;
}

li a {
  display: block;
  color: #a411b8;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-family: "Nothing You Could Do", cursive;
  font-size: 2rem;
}

li a:hover:not(.active) {
  color: #31d1bc;
}

.active {
  color: #31d1bc;
}

.maintext {
  margin: 1rem;
  display: grid;
  gap: 2rem;
  grid-template-columns: 1fr, 1fr;
  grid-template-rows: 2fr, 1fr, 1fr, 2fr;
  font-family: "Nothing You Could Do", cursive;
  justify-content: center;
}
.maintext h1 {
  grid-column: 1/3;
  grid-row: 1/2;
  background-color: #524e4e;
  padding: 1rem;
  padding-top: 0.5rem;
  font-size: 4rem;
  letter-spacing: 1px;
  color: #1f1d1d;
}
.maintext .pharagraph1 {
  border-radius: 20px;
  justify-content: center;
  color: #1f1d1d;
  grid-column: 1/2;
  grid-row: 2/3;
  padding: 1rem;
  padding-top: 0.5rem;
  font-size: 2rem;
  letter-spacing: 1px;
  background-color: #524e4e;
}
.maintext .pharagraph2 {
  border-radius: 20px;
  color: #1f1d1d;
  grid-column: 2/3;
  grid-row: 2/3;
  padding: 1rem;
  padding-top: 0.5rem;
  font-size: 2rem;
  letter-spacing: 1px;
  background-color: #524e4e;
}
.maintext .pharagraph3 {
  border-radius: 20px;
  color: #1f1d1d;
  grid-column: 1/3;
  grid-row: 3/4;
  padding: 1rem;
  padding-top: 0.5rem;
  font-size: 2rem;
  letter-spacing: 1px;
  background-color: #524e4e;
}

.mainframe {
  height: 70vh;
  max-width: 100%;
  display: grid;
  gap: 1rem;
  grid-template-columns: 1fr, 2fr, 1fr;
  grid-template-rows: 2fr 1fr;
  margin: 10px;
  padding: 10px;
}

.maininside {
  border: 1px solid #a411b8;
  margin: 0;
  opacity: 0.5;
}

.maininside:hover {
  border-color: #31d1bc;
  opacity: 1;
}

.inner1 {
  background-image: url(./multimedia/outdoors1.jpg);
  background-position: center;
  background-size: cover;
  grid-column: 1/2;
  grid-row: 1/3;
  height: 100%;
  width: 100%;
  border: 2px solid;
  margin: 0px;
  padding: 40px;
}

.inner2 {
  background-image: url(./multimedia/indoors2.jpg);
  background-position: center;
  background-size: cover;
  grid-column: 2/3;
  grid-row: 1/2;
  height: 100%;
  width: 100%;
  border: 2px solid;
  margin: 0px;
  padding: 40px;
}

.inner3 {
  background-image: url(./multimedia/outdoors3.jpg);
  background-position: center;
  background-size: cover;
  grid-column: 3/4;
  grid-row: 1/3;
  height: 100%;
  width: 100%;
  border: 2px solid;
  margin: 0px;
  padding: 40px;
}

.inner4 {
  background-image: url(./multimedia/indoors8.jpg);
  background-position: center;
  background-size: cover;
  grid-column: 2/3;
  grid-row: 2/3;
  height: 100%;
  width: 100%;
  border: 2px solid;
  margin: 0px;
  padding: 40px;
}

.under {
  background-color: #1f1d1d;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.social {
  color: #31d1bc;
  padding: 50px;
  font-size: 80px;
}

.social:hover {
  color: #a411b8;
}

@media only screen and (max-width: 720px) {
  .social {
    font-size: 30px;
    padding: 20px;
  }
}
@media only screen and (max-width: 840px) {
  .logo {
    height: 210px;
    width: 250px;
    padding: 0px;
  }
}
@media only screen and (min-width: 580) {
  ul {
    flex-flow: column;
  }
  li {
    margin: 10px;
  }
}/*# sourceMappingURL=styles.css.map */