@import url("https://fonts.googleapis.com/css2?family=Nothing+You+Could+Do&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*

mixin

@mixin fonts{
    $positanofont;
    font-size: 3rem;
    color: $color1
}

p{
    @include fonts;
}

Map, map-get
$colors: (
    primary: #a411b8,
    secundary: #31d1bc,
    backgrounds: #1f1d1d,
);


body{
    background-color: map-get($colors, $backgrounds);
}

extend 

article{
    background-color: $color1;
}

div{
    @extend artcicle;
    background-color: lighten (25%)
}


*/
body {
  background-color: #1f1d1d;
}

/*logo*/
.logoframe {
  display: flex;
  flex-direction: row;
  flex-shrink: 1;
  justify-content: space-between;
  padding: 0;
  text-align: left;
  background-image: linear-gradient(to right, #1f1d1d 43%, rgba(165, 17, 184, 0.185));
}

.logo {
  background-image: url(/multimedia/logogreencurs.jpg);
  background-size: cover;
  height: 300px;
  width: 320px;
  padding: 10px;
  margin: 10px;
}

.logo:hover {
  border-color: #a411b8;
}

/*navbar menu*/
.navigation {
  list-style-type: none;
  margin-top: 3rem;
  margin-right: 35px;
  margin-bottom: 10px;
  padding: 0;
  height: 100%;
  width: 10%;
}

li {
  align-items: right;
}

li a {
  color: #808080;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-family: "Nothing You Could Do", cursive;
}

span {
  padding: 12px;
}

li a:hover:not(.active) {
  color: #31d1bc;
}

.active {
  color: #31d1bc;
  text-decoration: underline;
  opacity: 1;
}

.material-symbols-outlined {
  font-size: 64px;
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 48;
}

/*index*/
.mainframe {
  height: 100vh auto;
  max-width: 100%;
  display: grid;
  gap: 1rem;
  grid-template-columns: 1fr, 2fr, 1fr;
  grid-template-rows: 1fr, 1fr;
  margin: 0;
  padding: 10px;
  background-image: linear-gradient(to right, #1f1d1d 43%, rgba(165, 17, 184, 0.185));
}

.maininside {
  margin: 0;
}

.maininside:hover {
  border-color: #31d1bc;
  transition: 1s;
  border-radius: 8px;
  box-shadow: 0 0 40px -10px #31d1bc;
  transform: scale(1.01);
}

.inner1 {
  background-image: url(./multimedia/indoors3.jpg);
  background-position: center;
  background-size: cover;
  grid-column: 1/2;
  grid-row: 1/3;
  height: 450px;
  width: 100%;
  margin: 0px;
  padding-top: 100px;
  padding: 40px;
}

.inner2 {
  background-image: url(./multimedia/indoors2.jpg);
  background-position: center;
  background-size: cover;
  grid-column: 2/3;
  grid-row: 1/2;
  height: 225px;
  width: 100%;
  margin: 0px;
  padding: 40px;
}

.inner3 {
  background-image: url(./multimedia/outdoors3.jpg);
  background-position: center;
  background-size: cover;
  grid-column: 3/4;
  grid-row: 1/3;
  height: 450px;
  width: 100%;
  margin: 0px;
  padding: 40px;
}

.inner4 {
  background-image: url(./multimedia/indoors8.jpg);
  background-position: center;
  background-size: cover;
  grid-column: 2/3;
  grid-row: 2/3;
  height: 210px;
  width: 100%;
  margin: 0px;
  padding: 40px;
}

/*products*/
.product-background {
  background-image: linear-gradient(to right, #1f1d1d 43%, rgba(165, 17, 184, 0.185));
  display: grid;
  padding: 64px;
  grid-template-columns: 1fr, 1fr;
  grid-template-rows: 1fr, 1fr;
}

.card1 {
  grid-column: 1/2;
  grid-row: 1/2;
  border-radius: 6px;
  margin: 15px auto;
  width: 95%;
  max-width: 100%;
  min-height: 200px;
  box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.2), 0px 5px 8px 0px rgba(0, 0, 0, 0.14), 0px 1px 14px 0px rgba(0, 0, 0, 0.12);
  overflow: hidden;
  background-image: url(/multimedia/indoors6.jpg);
  background-size: cover;
  background-position: bottom;
}

.info1 {
  position: relative;
  width: 100%;
  height: 500px;
  background-color: #524e4e;
  background-size: cover;
  background-position: bottom;
  transform: translateY(100%) translateY(-88px) translateZ(0);
  transition: transform 0.7s ease-out;
}

.info1:before {
  z-index: -1;
  display: block;
  position: absolute;
  width: 100%;
  min-height: 100%;
  overflow: hidden;
  background-color: #1f1d1d;
  filter: blur(10px);
  background-size: cover;
  opacity: 0.25;
  transform: translateY(-100%) translateY(88px) translateZ(0);
  transition: transform 0.5s ease-out;
}

.card1:hover .info1,
.card1:hover .info1:before {
  transform: translateY(0) translateZ(0);
  border: 1px solid #31d1bc;
  background-color: #1f1d1d;
}

.title1 {
  margin: 0;
  padding: 1rem;
  font-size: 4rem;
  line-height: 1;
  color: #31d1bc;
  font-family: "Nothing You Could Do", cursive;
  text-align: center;
}

.description1 {
  margin: 0;
  padding: 3rem 24px 24px;
  font-size: 1.5rem;
  line-height: 1.5;
  color: #31d1bc;
  font-family: "Nothing You Could Do", cursive;
}

.card2 {
  grid-column: 2/3;
  grid-row: 1/2;
  border-radius: 6px;
  margin: 15px auto;
  width: 95%;
  max-width: 100%;
  min-height: 200px;
  box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.2), 0px 5px 8px 0px rgba(0, 0, 0, 0.14), 0px 1px 14px 0px rgba(0, 0, 0, 0.12);
  overflow: hidden;
  background-image: url(/multimedia/outdoors.jpg);
  background-size: cover;
  background-position: bottom;
}

.info2 {
  position: relative;
  width: 100%;
  height: 500px;
  background-color: #524e4e;
  transform: translateY(100%) translateY(-88px) translateZ(0);
  transition: transform 0.7s ease-out;
}

.info2:before {
  z-index: -1;
  display: block;
  position: absolute;
  width: 100%;
  min-height: 100%;
  overflow: hidden;
  background-image: url(/multimedia/outdoors1.jpg);
  filter: blur(10px);
  background-size: cover;
  opacity: 0.25;
  transform: translateY(-100%) translateY(88px) translateZ(0);
  transition: transform 0.5s ease-out;
}

.card2:hover .info2,
.card2:hover .info2:before {
  transform: translateY(0) translateZ(0);
  border: 1px solid #31d1bc;
  background-color: #1f1d1d;
}

.title2 {
  margin: 0;
  padding: 1rem;
  font-size: 4rem;
  line-height: 1;
  color: #31d1bc;
  font-family: "Nothing You Could Do", cursive;
  text-align: center;
}

.description2 {
  margin: 0;
  padding: 0 24px 24px;
  font-size: 1.5rem;
  line-height: 1.5;
  color: #31d1bc;
  font-family: "Nothing You Could Do", cursive;
}

.card3 {
  grid-column: 2/3;
  grid-row: 2/3;
  border-radius: 6px;
  margin: 15px auto;
  width: 95%;
  max-width: 100%;
  min-height: 200px;
  box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.2), 0px 5px 8px 0px rgba(0, 0, 0, 0.14), 0px 1px 14px 0px rgba(0, 0, 0, 0.12);
  overflow: hidden;
  background-image: url(/multimedia/indoors9.jpg);
  background-size: cover;
  background-position: bottom;
}

.info3 {
  position: relative;
  width: 100%;
  height: 500px;
  background-color: #524e4e;
  transform: translateY(100%) translateY(-88px) translateZ(0);
  transition: transform 0.7s ease-out;
}

.info3:before {
  z-index: -1;
  display: block;
  position: absolute;
  width: 100%;
  min-height: 100%;
  overflow: hidden;
  background-image: url(/multimedia/outdoors1.jpg);
  filter: blur(10px);
  background-size: cover;
  opacity: 0.25;
  transform: translateY(-100%) translateY(88px) translateZ(0);
  transition: transform 0.5s ease-out;
}

.card3:hover .info3,
.card3:hover .info3:before {
  transform: translateY(0) translateZ(0);
  border: 1px solid #31d1bc;
  background-color: #1f1d1d;
}

.title3 {
  margin: 0;
  padding: 1rem;
  font-size: 4rem;
  line-height: 1;
  color: #31d1bc;
  font-family: "Nothing You Could Do", cursive;
  text-align: center;
}

.description3 {
  margin: 0;
  padding: 0 24px 24px;
  font-size: 1.5rem;
  line-height: 1.5;
  color: #31d1bc;
  font-family: "Nothing You Could Do", cursive;
}

.card4 {
  grid-column: 1/2;
  grid-row: 2/3;
  border-radius: 6px;
  margin: 15px auto;
  width: 95%;
  max-width: 100%;
  min-height: 200px;
  box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.2), 0px 5px 8px 0px rgba(0, 0, 0, 0.14), 0px 1px 14px 0px rgba(0, 0, 0, 0.12);
  overflow: hidden;
  background-image: url(/multimedia/specialdays4.jpg);
  background-size: cover;
}

.info4 {
  position: relative;
  width: 100%;
  height: 500px;
  background-color: #524e4e;
  transform: translateY(100%) translateY(-88px) translateZ(0);
  transition: transform 0.5s ease-out;
}

.info4:before {
  z-index: -1;
  display: block;
  position: absolute;
  width: 100%;
  min-height: 100%;
  overflow: hidden;
  background-image: url(/multimedia/outdoors1.jpg);
  filter: blur(10px);
  background-size: cover;
  opacity: 0.25;
  transform: translateY(-100%) translateY(88px) translateZ(0);
  transition: transform 0.5s ease-out;
}

.card4:hover .info4,
.card4:hover .info4:before {
  transform: translateY(0) translateZ(0);
  border: 1px solid #31d1bc;
  background-color: #1f1d1d;
}

.title4 {
  margin: 0;
  padding: 1rem;
  font-size: 4rem;
  line-height: 1;
  color: #31d1bc;
  font-family: "Nothing You Could Do", cursive;
  text-align: center;
}

.description4 {
  margin: 0;
  padding: 0 24px 24px;
  font-size: 1.5rem;
  line-height: 1.5;
  color: #31d1bc;
  font-family: "Nothing You Could Do", cursive;
}

/* end */
/*contact*/
.form {
  width: 380px;
  height: 480px;
  background: #524e4e;
  border-radius: 8px;
  box-shadow: 0 0 40px -10px #31d1bc;
  margin-top: 125px;
  margin: auto;
  padding: 20px 30px;
  max-width: calc(100vw - 40px);
  box-sizing: border-box;
  font-family: "Nothing You Could Do", cursive;
  position: relative;
}

h2 {
  margin: 10px 0;
  padding-bottom: 10px;
  width: 180px;
  color: #31d1bc;
  border-bottom: 3px solid #a411b8;
}

input {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  background: none;
  outline: none;
  resize: none;
  border: 0;
  font-family: "Nothing You Could Do", cursive;
  transition: all 0.3s;
  border-bottom: 2px solid #a411b8;
}

input:focus {
  border-bottom: 2px solid #31d1bc;
}

p:before {
  content: attr(type);
  display: block;
  margin: 28px 0 0;
  font: size 18px;
  color: #31d1bc;
}

button {
  float: right;
  padding: 8px 12px;
  margin: 8px 0 0;
  font-family: "Nothing You Could Do", cursive;
  border: 2px solid #31d1bc;
  background: 0;
  color: #31d1bc;
  cursor: pointer;
  transition: all 0.3s;
}

button:hover {
  background: rgba(165, 17, 184, 0.185);
  color: #31d1bc;
}

.contactcontainer {
  background-image: linear-gradient(to right, #1f1d1d 43%, rgba(165, 17, 184, 0.185));
}

/*about*/
.maintext {
  background-image: linear-gradient(to right, #1f1d1d 43%, rgba(165, 17, 184, 0.185));
  margin: 0;
  display: grid;
  gap: 2rem;
  grid-template-columns: 1fr, 1fr;
  grid-template-rows: 2fr, 1fr, 1fr, 2fr;
  font-family: "Nothing You Could Do", cursive;
  justify-content: center;
}
.maintext h1 {
  grid-column: 1/3;
  grid-row: 1/2;
  background: 0;
  padding: 1rem;
  padding-top: 0.5rem;
  text-align: center;
  font-size: 4rem;
  font-weight: 90;
  letter-spacing: 1px;
  color: #31d1bc;
}
.maintext .pharagraph1 {
  border-radius: 20px;
  grid-column: 1/2;
  grid-row: 2/3;
  padding: 1rem;
  padding-top: 0.5rem;
  font-size: 1.5rem;
  letter-spacing: 1px;
  background: 0;
  text-align: justify;
  color: #31d1bc;
}
.maintext .pharagraph2 {
  border-radius: 20px;
  grid-column: 2/3;
  grid-row: 2/3;
  padding: 1rem;
  padding-top: 0.5rem;
  font-size: 1.5rem;
  letter-spacing: 1px;
  background: 0;
  text-align: justify;
  color: #31d1bc;
}
.maintext .pharagraph3 {
  border-radius: 20px;
  grid-column: 1/3;
  grid-row: 3/4;
  padding: 1rem;
  padding-top: 0.5rem;
  font-size: 1.5rem;
  letter-spacing: 1px;
  background: 0;
  text-align: justify;
  color: #31d1bc;
}

/* end about*/
/*shopping*/
.mainscreen {
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  font-family: "Nothing You Could Do", cursive;
  background-image: linear-gradient(to right, #1f1d1d 43%, rgba(165, 17, 184, 0.185));
  color: #31d1bc;
  padding-left: 15%;
}

.card {
  width: 60rem;
  margin: 3rem auto;
  position: center;
  align-self: center;
  top: 50rem;
  display: flex;
  flex-direction: row;
}

.rightside {
  background-color: #524e4e;
  width: 35rem;
  padding: 2rem 1rem 1rem 1rem;
  box-shadow: 0 0 40px -10px #31d1bc;
}

p {
  display: block;
  font-size: 1.1rem;
  font-weight: 200;
  margin: 0.8rem 0;
}

.inputbox {
  background: #524e4e;
  color: #808080;
  width: 100%;
  padding: 0.5rem;
  border: none;
  border-bottom: 1.5px solid #808080;
  margin-bottom: 1rem;
  border-radius: 0.3rem;
  font-family: "Nothing You Could Do", cursive;
  color: #31d1bc;
  font-size: 1.1rem;
  font-weight: 500;
  outline: none;
}

.expcvv {
  display: flex;
  justify-content: space-between;
  padding-top: 0.6rem;
}

.expcvv_text {
  padding-right: 1rem;
}

.expcvv_text2 {
  padding: 0 1rem;
}

.button {
  background: #808080;
  padding: 15px;
  border: none;
  border-radius: 50px;
  color: #31d1bc;
  font-weight: 400;
  font-size: 1.2rem;
  margin-top: 10px;
  width: 100%;
  letter-spacing: 0.11rem;
  outline: none;
}

.button:hover {
  transform: scale(1.05) translateY(-3px);
  box-shadow: 3px 3px 6px rgba(56, 55, 55, 0.5215686275);
}

/*footer*/
.under {
  background-image: linear-gradient(to right, #1f1d1d 43%, rgba(165, 17, 184, 0.185));
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.social {
  color: #31d1bc;
  padding: 50px;
  font-size: 45px;
}

.social:hover {
  color: #a411b8;
}

/*mediaqueries*/
/*logo media*/
@media screen and (min-width: 900px) {
  .logo {
    height: 320px;
    width: 350px;
    padding: 0px;
    margin-top: 0px;
    background-image: url(/multimedia/logopositano900px.jpeg);
  }
  .logoframe {
    background-image: linear-gradient(to right, #616161 100%, rgba(163, 17, 182, 0.1843137255));
  }
}
@media screen and (max-width: 700px) {
  .logoframe {
    background-image: linear-gradient(to right, #1f1d1d 63%, rgba(28, 87, 81, 0.753));
  }
  .logo {
    height: 290px;
    width: 310px;
    margin-top: 50px;
  }
  .mainframe {
    background-image: linear-gradient(to right, #1f1d1d 63%, rgba(28, 87, 81, 0.753));
  }
}
@media only screen and (max-width: 500px) {
  .logoframe {
    display: flex;
    flex-direction: column;
    background-image: linear-gradient(to right, #808080 100%, rgba(163, 17, 182, 0.185));
  }
  .logo {
    background-image: url(/multimedia/WomanLogo.jpg);
    height: 300px;
    width: 330px;
    margin: 0;
    padding: 0;
  }
}
@media only screen and (max-width: 320px) {
  .logo {
    padding-left: 3rem;
    height: 290px;
    width: 300px;
    box-sizing: border-box;
  }
}
/*navbar media*/
@media only screen and (min-width: 900px) {
  li a {
    color: #808080;
    font-size: 24px;
  }
}
@media screen and (max-width: 500px) {
  .navigation {
    display: flex;
    flex-direction: row;
    flex-shrink: 1;
    list-style-type: none;
    margin-left: 20px;
    padding: 0;
    height: auto;
    width: 80%;
    justify-content: center;
  }
  li a {
    color: #524e4e;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
}
/*index media*/
@media only screen and (min-width: 900px) {
  .mainframe {
    background-image: linear-gradient(to right, #616161 100%, rgba(163, 17, 182, 0.1843137255));
  }
  .mainframe .maininside:hover {
    border-color: #31d1bc;
  }
  .mainframe .inner1 {
    height: 590px;
    padding: 140px;
  }
  .mainframe .inner2 {
    padding: 140px;
  }
  .mainframe .inner3 {
    height: 590px;
    padding: 140px;
  }
  .mainframe .inner4 {
    padding: 140px;
  }
  .mainframe .inner5 {
    padding: 140px;
  }
  .mainframe .inner6 {
    padding: 140px;
  }
  .mainframe .inner7 {
    padding: 140px;
  }
  .mainframe .inner8 {
    padding: 140px;
  }
}
@media screen and (max-width: 700px) {
  .mainframe {
    display: flex;
    flex-direction: column;
    background-image: linear-gradient(to right, #1f1d1d 63%, rgba(28, 87, 81, 0.753));
  }
  .inner1 {
    padding: 30px;
    height: 450px;
    width: 100%;
  }
  .inner2 {
    height: 450px;
    padding: 30px;
    width: 100%;
  }
  .inner3 {
    height: 450px;
    padding: 30px;
    background-position: cover;
    width: 100%;
  }
  .inner4 {
    height: 450px;
    padding: 130px;
    width: 100%;
  }
}
@media screen and (max-width: 500px) {
  .mainframe {
    background-image: linear-gradient(to right, #808080 100%, rgba(163, 17, 182, 0.185));
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    background-position: cover;
  }
  .inner1 {
    padding: 130px;
  }
  .inner2 {
    padding: 130px;
  }
  .inner3 {
    padding: 130px;
    background-position: cover;
  }
  .inner4 {
    padding: 130px;
  }
}
@media screen and (max-width: 320px) {
  .maininside {
    margin: 0;
  }
  .inner1 {
    padding: 150px;
  }
  .inner2 {
    padding: 150px;
  }
  .inner3 {
    padding: 150px;
  }
  .inner4 {
    padding: 150px;
  }
}
/* product media*/
@media only screen and (min-width: 900px) {
  .product-background {
    background-image: linear-gradient(to right, #616161 100%, rgba(163, 17, 182, 0.1843137255));
  }
}
@media screen and (max-width: 700px) {
  .product-background {
    background-image: linear-gradient(to right, #1f1d1d 63%, rgba(28, 87, 81, 0.753));
    display: flex;
    flex-direction: column;
  }
}
@media screen and (max-width: 500px) {
  .product-background {
    background-image: linear-gradient(to right, #808080 100%, rgba(163, 17, 182, 0.185));
    margin: 0px;
    padding: 0px;
  }
}
@media screen and (max-width: 400px) {
  .title1 {
    margin: 0;
    padding: 1rem;
    font-size: 4rem;
    line-height: 1;
    color: #31d1bc;
    font-family: "Nothing You Could Do", cursive;
    text-align: center;
  }
  .description1 {
    margin: 0;
    padding: 0 24px 24px;
    font-size: 1.3rem;
    line-height: 1;
    color: #31d1bc;
    font-family: "Nothing You Could Do", cursive;
  }
  .title2 {
    margin: 0;
    padding: 1rem;
    font-size: 4rem;
    line-height: 1;
    color: #31d1bc;
    font-family: "Nothing You Could Do", cursive;
    text-align: center;
  }
  .description2 {
    margin: 0;
    padding: 0 24px 24px;
    font-size: 1.3rem;
    line-height: 1;
    color: #31d1bc;
    font-family: "Nothing You Could Do", cursive;
  }
  .title3 {
    margin: 0;
    padding: 1rem;
    font-size: 4rem;
    line-height: 1;
    color: #31d1bc;
    font-family: "Nothing You Could Do", cursive;
    text-align: center;
  }
  .description3 {
    margin: 0;
    padding: 0 24px 24px;
    font-size: 1.3rem;
    line-height: 1;
    color: #31d1bc;
    font-family: "Nothing You Could Do", cursive;
  }
  .title4 {
    margin: 0;
    padding: 1rem;
    font-size: 4rem;
    line-height: 1;
    color: #31d1bc;
    font-family: "Nothing You Could Do", cursive;
    text-align: center;
  }
  .description4 {
    margin: 0;
    padding: 0 24px 24px;
    font-size: 1.3rem;
    line-height: 1;
    color: #31d1bc;
    font-family: "Nothing You Could Do", cursive;
  }
}
/*contact media*/
@media only screen and (min-width: 900px) {
  .contactcontainer {
    background-image: linear-gradient(to right, #616161 100%, rgba(163, 17, 182, 0.1843137255));
  }
  .form {
    box-shadow: 0 0 40px -10px #31d1bc;
  }
}
@media only screen and (max-width: 700px) {
  .form {
    width: 330px;
    height: 420px;
    background: #524e4e;
    border-radius: 8px;
    box-shadow: 0 0 40px -10px #31d1bc;
    margin: auto;
    padding: 20px 30px;
    max-width: calc(100vw - 40px);
    box-sizing: border-box;
    font-family: "Nothing You Could Do", cursive;
    position: relative;
  }
  h2 {
    margin: 10px 0;
    padding-bottom: 10px;
    width: 180px;
    color: #a411b8;
    border-bottom: 3px solid #31d1bc;
  }
  input {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    background: none;
    outline: none;
    resize: none;
    border: 0;
    font-family: "Nothing You Could Do", cursive;
    transition: all 0.3s;
    border-bottom: 2px solid #31d1bc;
  }
  input:focus {
    border-bottom: 2px solid #31d1bc;
  }
  p:before {
    content: attr(type);
    display: block;
    margin: 28px 0 0;
    font-size: 14px;
    color: #a411b8;
  }
  button {
    float: right;
    padding: 8px 12px;
    margin: 8px 0 0;
    font-family: "Nothing You Could Do", cursive;
    border: 2px solid #31d1bc;
    background: 0;
    color: #31d1bc;
    cursor: pointer;
    transition: all 0.3s;
  }
  button:hover {
    background: #1f1d1d;
    color: #31d1bc;
  }
  .contactcontainer {
    background-image: linear-gradient(to right, #1f1d1d 43%, rgba(165, 17, 184, 0.185));
  }
  .contactcontainer {
    background-image: linear-gradient(to right, #1f1d1d 63%, rgba(28, 87, 81, 0.753));
  }
}
@media only screen and (max-width: 500px) {
  .form {
    background: #524e4e;
    box-shadow: 0 0 40px -10px #31d1bc;
  }
  h2 {
    color: #31d1bc;
    border-bottom: 3px solid #31d1bc;
  }
  input {
    font-family: "Nothing You Could Do", cursive;
    transition: all 0.3s;
    border-bottom: 2px solid #31d1bc;
  }
  input:focus {
    border-bottom: 2px solid #31d1bc;
  }
  p:before {
    color: #31d1bc;
  }
  button {
    float: right;
    padding: 8px 12px;
    margin: 8px 0 0;
    font-family: "Nothing You Could Do", cursive;
    border: 2px solid #31d1bc;
  }
  button:hover {
    background: #1f1d1d;
    color: #31d1bc;
  }
  .contactcontainer {
    background-image: linear-gradient(to right, #808080 100%, rgba(163, 17, 182, 0.185));
  }
}
/*about media*/
@media only screen and (min-width: 900px) {
  .maintext {
    background-image: linear-gradient(to right, #616161 100%, rgba(163, 17, 182, 0.1843137255));
  }
}
@media only screen and (max-width: 700px) {
  .maintext {
    background-image: linear-gradient(to right, #1f1d1d 63%, rgba(28, 87, 81, 0.753));
  }
}
@media only screen and (max-width: 500px) {
  .maintext {
    background-image: linear-gradient(to right, #808080 100%, rgba(163, 17, 182, 0.185));
    display: block;
  }
  .pharagraph1 {
    margin: 10px;
  }
  .pharagraph2 {
    margin: 10px;
  }
  .pharagraph3 {
    margin: 10px;
    margin-bottom: 0;
  }
}
@media only screen and (max-width: 318px) {
  .maintext {
    background-image: linear-gradient(to right, #808080 100%, rgba(163, 17, 182, 0.185));
    display: block;
  }
  .pharagraph1 {
    margin: 10px;
  }
  .pharagraph2 {
    margin: 10px;
    margin-bottom: 0;
  }
  .pharagraph3 {
    margin: 10px;
  }
}
/*shopping media*/
@media only screen and (min-width: 900px) {
  .mainscreen {
    min-height: 100vh;
    width: 100%;
    font-family: "Nothing You Could Do", cursive;
    background-image: linear-gradient(to right, #616161 100%, rgba(163, 17, 182, 0.1843137255));
    color: #31d1bc;
    padding-left: 30%;
  }
}
@media only screen and (max-width: 700px) {
  .mainscreen {
    min-height: 100vh;
    width: 100%;
    font-family: "Nothing You Could Do", cursive;
    background-image: linear-gradient(to right, #1f1d1d 63%, rgba(28, 87, 81, 0.753));
    color: #31d1bc;
    padding-left: 10%;
  }
  .card {
    width: 20rem;
    margin: 1rem auto;
    position: center;
    align-self: center;
    top: 20rem;
    display: flex;
    flex-direction: row;
  }
  .rightside {
    background-color: #524e4e;
    width: 25rem;
    padding: 2rem 1rem 1rem 1rem;
    box-shadow: 0 0 40px -10px #31d1bc;
  }
  p {
    display: block;
    font-size: 1.1rem;
    font-weight: 200;
    margin: 0.8rem 0;
  }
}
@media only screen and (max-width: 500px) {
  .mainscreen {
    min-height: 100vh;
    width: 100%;
    font-family: "Nothing You Could Do", cursive;
    background-image: linear-gradient(to right, #808080 100%, rgba(163, 17, 182, 0.185));
    color: #31d1bc;
    padding-left: 0;
  }
  .card {
    width: 20rem;
    margin: 1rem auto;
    position: center;
    align-self: center;
    top: 10rem;
    display: flex;
    flex-direction: row;
  }
  .rightside {
    background-color: #524e4e;
    width: 20rem;
    padding: 2rem 1rem 1rem 1rem;
    box-shadow: 0 0 40px -10px #31d1bc;
  }
  p {
    display: block;
    font-size: 1.1rem;
    font-weight: 200;
    margin: 0.8rem 0;
  }
}
/*footer media*/
@media only screen and (min-width: 900px) {
  .under {
    background-image: linear-gradient(to right, #616161 100%, rgba(163, 17, 182, 0.1843137255));
  }
  .social {
    color: #31d1bc;
    padding: 50px;
    font-size: 45px;
  }
  .social:hover {
    color: #a411b8;
  }
}
@media only screen and (max-width: 720px) {
  .social {
    font-size: 30px;
    padding: 20px;
  }
}
@media only screen and (max-width: 700px) {
  .under {
    background-image: linear-gradient(to right, #1f1d1d 63%, rgba(28, 87, 81, 0.753));
  }
}
@media only screen and (max-width: 500px) {
  .under {
    background-image: linear-gradient(to right, #808080 100%, rgba(163, 17, 182, 0.185));
  }
}/*# sourceMappingURL=styles.css.map */