@import url('https://fonts.googleapis.com/css2?family=Nothing+You+Could+Do&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

$backgroundpositano: #1f1d1d;
$smallbackground: #808080;
$backgroundtext: #524e4e;
$purpletone: rgba(165, 17, 184, 0.185);
$positanogradient1: linear-gradient(to right,
#1f1d1d 43%, rgba(165, 17, 184, 0.185));
$positanogradient2: linear-gradient(to right,
#1f1d1d 63%, rgba(28, 87, 81, 0.753));
$positanobackgroundgray: linear-gradient(to right,
    #808080 100%, rgba(163, 17, 182, 0.185));
$positanobackgroundgraynew: linear-gradient(to right,
#616161 100%, #a311b62f);
$color1: #a411b8;
$color2: #31d1bc;
$positanofont: 'Nothing You Could Do', cursive;

/*

mixin

@mixin fonts{
    $positanofont;
    font-size: 3rem;
    color: $color1
}

p{
    @include fonts;
}

Map, map-get
$colors: (
    primary: #a411b8,
    secundary: #31d1bc,
    backgrounds: #1f1d1d,
);


body{
    background-color: map-get($colors, $backgrounds);
}

extend 

article{
    background-color: $color1;
}

div{
    @extend artcicle;
    background-color: lighten (25%)
}


*/



body{
    background-color: $backgroundpositano;
}

/*logo*/

.logoframe{
    display: flex;
    flex-direction: row;
    flex-shrink: 1;
    justify-content: space-between;
    padding: 0;
    text-align: left;
    background-image: $positanogradient1;
}


.logo{
    background-image: url(/multimedia/logogreencurs.jpg);
    background-size: cover;
    height: 300px;
    width: 320px;
    padding: 10px;
    margin: 10px;
}

.logo:hover {
    border-color: $color1;

}


/*navbar menu*/

.navigation{
    list-style-type: none;
    margin-top: 3rem;
    margin-right: 35px;
    margin-bottom: 10px;
    padding: 0;
    height: 100%;
    width: 10%;
}

    
    li {
    align-items: right;
    }

    li a {

    color: $smallbackground;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: $positanofont;
    }

    span{
        padding: 12px;
    }
    
    li a:hover:not(.active) {
    color: $color2;
    }

    .active {
    color: $color2;
    text-decoration: underline;
    opacity: 1;
    }



    .material-symbols-outlined {
        font-size: 64px;
        font-variation-settings:
            'FILL' 0,
            'wght' 400,
            'GRAD' 0,
            'opsz' 48
    }

/*index*/

.mainframe{
    height: 100vh auto;
    max-width: 100%;
    display: grid;
    gap: 1rem;
    grid-template-columns: 1fr, 2fr, 1fr;
    grid-template-rows: 1fr, 1fr;
    margin: 0;
    padding: 10px;
    background-image:$positanogradient1;
}



.maininside{
    margin: 0;
}

.maininside:hover{
    border-color: $color2;
    transition: 1s;
    border-radius: 8px;
    box-shadow:0 0 40px -10px $color2;
    transform: scale(1.01);

}

.inner1{
    background-image: url(./multimedia/indoors3.jpg);
    background-position: center;
    background-size: cover;
    grid-column: 1/2;
    grid-row: 1/3;
    height: 450px;
    width: 100%;
    margin: 0px;
    padding-top: 100px;
    padding: 40px;
}

    .inner2 {
    background-image: url(./multimedia/indoors2.jpg);
    background-position: center;
    background-size: cover;
    grid-column: 2/3;
    grid-row: 1/2;
    height: 225px;
    width: 100%;
    margin: 0px;
    padding: 40px;
    }

    .inner3 {
    background-image: url(./multimedia/outdoors3.jpg);
    background-position: center;
    background-size: cover;
    grid-column: 3/4;
    grid-row: 1/3;
    height: 450px;
    width: 100%;
    margin: 0px;
    padding: 40px;
    }

    .inner4 {
    background-image: url(./multimedia/indoors8.jpg);
    background-position: center;
    background-size: cover;
    grid-column: 2/3;
    grid-row: 2/3;
    height: 210px;
    width: 100%;
    margin: 0px;
    padding: 40px;
    }

/*products*/

.product-background {
    background-image: $positanogradient1;
    display: grid;
    padding: 64px;
    grid-template-columns: 1fr, 1fr;
    grid-template-rows: 1fr, 1fr;
}

.card1{
    grid-column: 1/2;
    grid-row: 1/2;
    border-radius: 6px;
    margin: 15px auto;
    width: 95%;
    max-width: 100%;
    min-height: 200px;
    box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.2),
        0px 5px 8px 0px rgba(0, 0, 0, 0.14),
        0px 1px 14px 0px rgba(0, 0, 0, 0.12);
    overflow: hidden;
    background-image: url(/multimedia/indoors6.jpg);
    background-size: cover;
    background-position: bottom;
}

.info1{
    position: relative;
    width: 100%;
    height: 500px;
    background-color: $backgroundtext;
    background-size: cover;
    background-position: bottom;
    transform: translateY(100%)
        translateY(-88px)
        translateZ(0);
    transition: transform 0.7s ease-out;
}

.info1:before{
    z-index: -1;
    display: block;
    position: absolute;
    width: 100%;
    min-height: 100%;
    overflow: hidden;
    background-color: $backgroundpositano;
    filter: blur(10px);
    background-size: cover;
    opacity: 0.25;
    transform: translateY(-100%)
        translateY(88px)
        translateZ(0);
    transition: transform 0.5s ease-out;
}

.card1:hover .info1,
.card1:hover .info1:before {
    transform: translateY(0) translateZ(0);
    border: 1px solid $color2;
    background-color: $backgroundpositano;
}

.title1 {
    margin: 0;
    padding: 1rem;
    font-size: 4rem;
    line-height: 1;
    color: $color2;
    font-family: $positanofont;
    text-align: center;
}

.description1 {
    margin: 0;
    padding: 3rem 24px 24px;
    font-size: 1.5rem;
    line-height: 1.5;
    color: $color2;
    font-family: $positanofont;
}




.card2{
    grid-column: 2/3;
    grid-row: 1/2;
    border-radius: 6px;
    margin: 15px auto;
    width: 95%;
    max-width: 100%;
    min-height: 200px;
    box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.2),
        0px 5px 8px 0px rgba(0, 0, 0, 0.14),
        0px 1px 14px 0px rgba(0, 0, 0, 0.12);
    overflow: hidden;
    background-image: url(/multimedia/outdoors.jpg);
    background-size: cover;
    background-position: bottom;
}

.info2{
    position: relative;
    width: 100%;
    height: 500px;
    background-color: $backgroundtext;
    transform: translateY(100%)
        translateY(-88px)
        translateZ(0);
    transition: transform 0.7s ease-out;
}

.info2:before{
    z-index: -1;
    display: block;
    position: absolute;
    width: 100%;
    min-height: 100%;
    overflow: hidden;
    background-image: url(/multimedia/outdoors1.jpg);
    filter: blur(10px);
    background-size: cover;
    opacity: 0.25;
    transform: translateY(-100%)
        translateY(88px)
        translateZ(0);
    transition: transform 0.5s ease-out;
}

.card2:hover .info2,
.card2:hover .info2:before {
    transform: translateY(0) translateZ(0);
    border: 1px solid $color2;
    background-color: $backgroundpositano;
}

.title2 {
    margin: 0;
    padding: 1rem;
    font-size: 4rem;
    line-height: 1;
    color: $color2;
    font-family: $positanofont;
    text-align: center;
}

.description2 {
    margin: 0;
    padding: 0 24px 24px;
    font-size: 1.5rem;
    line-height: 1.5;
    color: $color2;
    font-family: $positanofont;
}



.card3{
    grid-column: 2/3;
    grid-row: 2/3;
    border-radius: 6px;
    margin: 15px auto;
    width: 95%;
    max-width: 100%;
    min-height: 200px;
    box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.2),
        0px 5px 8px 0px rgba(0, 0, 0, 0.14),
        0px 1px 14px 0px rgba(0, 0, 0, 0.12);
    overflow: hidden;
    background-image: url(/multimedia/indoors9.jpg);
    background-size: cover;
    background-position: bottom;
}

.info3{
    position: relative;
    width: 100%;
    height: 500px;
    background-color: $backgroundtext;
    transform: translateY(100%)
        translateY(-88px)
        translateZ(0);
    transition: transform 0.7s ease-out;
}

.info3:before{
    z-index: -1;
    display: block;
    position: absolute;
    width: 100%;
    min-height: 100%;
    overflow: hidden;
    background-image: url(/multimedia/outdoors1.jpg);
    filter: blur(10px);
    background-size: cover;
    opacity: 0.25;
    transform: translateY(-100%)
        translateY(88px)
        translateZ(0);
    transition: transform 0.5s ease-out;
}

.card3:hover .info3,
.card3:hover .info3:before {
    transform: translateY(0) translateZ(0);
    border: 1px solid $color2;
    background-color: $backgroundpositano;
}

.title3 {
    margin: 0;
    padding: 1rem;
    font-size: 4rem;
    line-height: 1;
    color: $color2;
    font-family: $positanofont;
    text-align: center;
}

.description3 {
    margin: 0;
    padding: 0 24px 24px;
    font-size: 1.5rem;
    line-height: 1.5;
    color: $color2;
    font-family: $positanofont;
}





.card4{
        grid-column: 1/2;
        grid-row: 2/3;
        border-radius: 6px;
        margin: 15px auto;
        width: 95%;
        max-width: 100%;
        min-height: 200px;
        box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.2),
            0px 5px 8px 0px rgba(0, 0, 0, 0.14),
            0px 1px 14px 0px rgba(0, 0, 0, 0.12);
        overflow: hidden;
        background-image: url(/multimedia/specialdays4.jpg);
        background-size: cover;
}
    
.info4{
        position: relative;
        width: 100%;
        height: 500px;
        background-color: $backgroundtext;
        transform: translateY(100%)
            translateY(-88px)
            translateZ(0);
        transition: transform 0.5s ease-out;
    }
    
.info4:before{
        z-index: -1;
        display: block;
        position: absolute;
        width: 100%;
        min-height: 100%;
        overflow: hidden;
        background-image: url(/multimedia/outdoors1.jpg);
        filter: blur(10px);
        background-size: cover;
        opacity: 0.25;
        transform: translateY(-100%)
            translateY(88px)
            translateZ(0);
        transition: transform 0.5s ease-out;
    }
    
.card4:hover .info4,
.card4:hover .info4:before {
        transform: translateY(0) translateZ(0);
        border: 1px solid $color2;
        background-color: $backgroundpositano;
    }
    
.title4 {
    margin: 0;
    padding: 1rem;
    font-size: 4rem;
    line-height: 1;
    color: $color2;
    font-family: $positanofont;
    text-align: center;
    }
    
.description4 {
    margin: 0;
    padding: 0 24px 24px;
    font-size: 1.5rem;
    line-height: 1.5;
    color: $color2;
    font-family: $positanofont;
    }


/* end */


/*contact*/


.form{
    width:380px;
    height:480px;
    background:$backgroundtext;
    border-radius:8px;
    box-shadow:0 0 40px -10px $color2;
    margin-top: 125px;
    margin: auto;
    padding:20px 30px;
    max-width:calc(100vw - 40px);
    box-sizing:border-box;
    font-family: $positanofont;
    position:relative;
}

h2{
    margin:10px 0;
    padding-bottom:10px;
    width:180px;
    color: $color2;
    border-bottom:3px solid $color1;
}

input{
    width:100%;
    padding:10px;
    box-sizing:border-box;
    background:none;
    outline:none;
    resize:none;
    border:0;
    font-family:$positanofont;
    transition:all .3s;
    border-bottom:2px solid $color1;
}

input:focus{
    border-bottom:2px solid $color2;
}

p:before{
    content:attr(type);
    display:block;
    margin:28px 0 0;
    font: size 18px;
    color:$color2;
}

button{
    float:right;
    padding:8px 12px;
    margin:8px 0 0;
    font-family:$positanofont;
    border:2px solid $color2;
    background:0;
    color:$color2;
    cursor:pointer;
    transition:all .3s
}

button:hover{
    background: $purpletone;
    color: $color2;
}

.contactcontainer{
    background-image: $positanogradient1;
}

/*about*/

.maintext{
    background-image: $positanogradient1;
    margin: 0;
    display: grid;
    gap: 2rem;
    grid-template-columns: 1fr, 1fr;
    grid-template-rows: 2fr, 1fr, 1fr, 2fr;
    font-family: $positanofont;
    justify-content: center;



    h1{
        grid-column: 1/3;
        grid-row: 1/2;
        background: 0;
        padding: 1rem;
        padding-top: 0.5rem;
        text-align: center;
        font-size: 4rem;
        font-weight: 90;
        letter-spacing: 1px;
        color: $color2;
    }

    .pharagraph1{
        border-radius: 20px;
        grid-column: 1/2;
        grid-row: 2/3;
        padding: 1rem;
        padding-top: 0.5rem;
        font-size: 1.5rem;
        letter-spacing: 1px;
        background: 0;
        text-align: justify;
        color: $color2;
    }
    .pharagraph2{
        border-radius: 20px;
        grid-column: 2/3;
        grid-row: 2/3;
        padding: 1rem;
        padding-top: 0.5rem;
        font-size: 1.5rem;
        letter-spacing: 1px;
        background: 0;
        text-align: justify;
        color: $color2;
    }
    .pharagraph3{
        border-radius: 20px;
        grid-column: 1/3;
        grid-row: 3/4;
        padding: 1rem;
        padding-top: 0.5rem;
        font-size: 1.5rem;
        letter-spacing: 1px;
        background: 0;
        text-align: justify;
        color: $color2;
    }
}

/* end about*/

/*shopping*/

.mainscreen{
	min-height: 100vh;
	width: 100%;
	display: flex;
    flex-direction: column;
    font-family: $positanofont;
    background-image: $positanogradient1;
    color:$color2;
    padding-left: 15%;
}

.card {
	width: 60rem;
    margin: 3rem auto;
    position:center;
    align-self: center;
    top: 50rem;
    display:flex;
    flex-direction: row;
}

.rightside {
    background-color: $backgroundtext;
	width: 35rem;
    padding: 2rem 1rem 1rem 1rem;
    box-shadow:0 0 40px -10px $color2;
}

p{
    display:block;
    font-size: 1.1rem;
    font-weight: 200;
    margin: .8rem 0;
}

.inputbox
{
    background: $backgroundtext;
    color: $smallbackground;
	width: 100%;
    padding: 0.5rem;
    border: none;
    border-bottom: 1.5px solid $smallbackground;
    margin-bottom: 1rem;
    border-radius: 0.3rem;
    font-family: $positanofont;
    color: $color2;
    font-size: 1.1rem;
    font-weight: 500;
    outline:none;
}

.expcvv {
    display:flex;
    justify-content: space-between;
    padding-top: 0.6rem;
}

.expcvv_text{
    padding-right: 1rem;
}
.expcvv_text2{
    padding:0 1rem;
}

.button{
    background: $smallbackground;
    padding: 15px;
    border: none;
    border-radius: 50px;
    color: $color2;
    font-weight: 400;
    font-size: 1.2rem;
    margin-top: 10px;
    width:100%;
    letter-spacing: .11rem;
    outline:none;
}

.button:hover
{
	transform: scale(1.05) translateY(-3px);
    box-shadow: 3px 3px 6px #38373785;
}





    /*footer*/

    .under{
        background-image:$positanogradient1;
        display: flex;
        flex-direction: row;
        justify-content: center;
        
    }

    
    .social{
        color:$color2;
        padding: 50px;
        font-size: 45px;
    }
    
    .social:hover{
        color: $color1;
    }
    




/*mediaqueries*/




/*logo media*/

@media screen and(min-width: 900px){
    .logo{
        height: 320px;
        width: 350px;
        padding: 0px;
        margin-top: 0px;
        background-image: url(/multimedia/logopositano900px.jpeg);
    }
    .logoframe{
            background-image: $positanobackgroundgraynew;
    }
    
}

@media screen and(max-width: 700px){
    .logoframe{
        background-image: $positanogradient2
    }

    .logo{
        height: 290px;
        width: 310px;
        margin-top: 50px;
    }

    .mainframe{
        background-image: $positanogradient2;
    }
}



@media only screen and(max-width: 500px){
    .logoframe{
        display: flex;
        flex-direction: column;
        background-image:$positanobackgroundgray;
    }
    .logo{
        background-image: url(/multimedia/WomanLogo.jpg);
        height: 300px;
        width: 330px;
        margin: 0;
        padding: 0;
    }
}

@media only screen and(max-width: 320px){
    .logo{
        padding-left: 3rem;
        height: 290px;
        width:300px;
        box-sizing: border-box;
    }
}

/*navbar media*/

@media only screen and (min-width: 900px){
    li a{
        color: $smallbackground;
        font-size: 24px;
    }
    
}

@media screen and(max-width: 500px){
    
    .navigation{
        display: flex;
        flex-direction: row;
        flex-shrink: 1;
        list-style-type: none;
        margin-left: 20px;
        padding: 0;
        height: auto;
        width: 80%;
        justify-content: center;
    }
    li a{
        color: $backgroundtext;
        padding: 0;
        margin: 0;
        box-sizing: border-box;
    }
}



    /*index media*/

    @media only screen and (min-width: 900px){
        .mainframe{
            background-image: $positanobackgroundgraynew;
            .maininside:hover{
                border-color: $color2;
            }
            .inner1{
                height: 590px;
                padding: 140px;
            }
            .inner2{
                padding: 140px;
            }
            .inner3{
                height: 590px;
                padding: 140px;
            }
            .inner4{
                padding: 140px;
            }
            .inner5{
                padding: 140px;
            }
            .inner6{
                padding: 140px;
            }
            .inner7{
                padding: 140px;
            }
            .inner8{
                padding: 140px;
            }
        }
    }

    @media screen and(max-width: 700px){
        .mainframe{
            display: flex;
            flex-direction: column;
            background-image: $positanogradient2;
        }
        .inner1{
            padding: 30px;
            height: 450px;
            width: 100%;
        }
        .inner2{
            height: 450px;
            padding: 30px;
            width: 100%;
        }
        .inner3{
            height: 450px;
            padding: 30px;
            background-position: cover;
            width: 100%;
        }
        .inner4{
            height: 450px;
            padding: 130px;
            width: 100%;
        }
    }
    
    @media screen and(max-width: 500px){
        .mainframe{
            background-image: $positanobackgroundgray;
            display: flex;
            flex-grow: 1;
            flex-direction: column;
            background-position: cover;
        }
        .inner1{
            padding: 130px;
        }
        .inner2{
            padding: 130px;
        }
        .inner3{
            padding: 130px;
            background-position: cover;
        }
        .inner4{
            padding: 130px;
        }
    }

    @media screen and(max-width:320px){
        .maininside{
            margin: 0;
        }
        .inner1{
            padding: 150px;
        }
        .inner2{
            padding: 150px;
        }
        .inner3{
            padding: 150px;
        }
        .inner4{
            padding: 150px;
        }
    }


/* product media*/
    @media only screen and (min-width: 900px){
        .product-background{
            background-image: $positanobackgroundgraynew;
        }
}


    @media screen and(max-width: 700px){
        .product-background{
            background-image: $positanogradient2;
            display: flex;
            flex-direction: column;
        }
    }
    
    @media screen and(max-width: 500px){
        .product-background{
            background-image: $positanobackgroundgray;
            margin: 0px;
            padding: 0px;
            }
    }

    @media screen and(max-width: 400px){
        
        .title1 {
            margin: 0;
            padding: 1rem;
            font-size: 4rem;
            line-height: 1;
            color: $color2;
            font-family: $positanofont;
            text-align: center;
        }
        
        .description1 {
            margin: 0;
            padding: 0 24px 24px;
            font-size: 1.3rem;
            line-height: 1;
            color: $color2;
            font-family: $positanofont;
        }


        .title2 {
            margin: 0;
            padding: 1rem;
            font-size: 4rem;
            line-height: 1;
            color: $color2;
            font-family: $positanofont;
            text-align: center;
        }
        
        .description2 {
            margin: 0;
            padding: 0 24px 24px;
            font-size: 1.3rem;
            line-height: 1;
            color: $color2;
            font-family: $positanofont;
        }

        .title3 {
            margin: 0;
            padding: 1rem;
            font-size: 4rem;
            line-height: 1;
            color: $color2;
            font-family: $positanofont;
            text-align: center;
        }
        
        .description3 {
            margin: 0;
            padding: 0 24px 24px;
            font-size: 1.3rem;
            line-height: 1;
            color: $color2;
            font-family: $positanofont;
        }

        .title4 {
            margin: 0;
            padding: 1rem;
            font-size: 4rem;
            line-height: 1;
            color: $color2;
            font-family: $positanofont;
            text-align: center;
        }
        
        .description4 {
            margin: 0;
            padding: 0 24px 24px;
            font-size: 1.3rem;
            line-height: 1;
            color: $color2;
            font-family: $positanofont;
        }
    }

/*contact media*/

@media only screen and(min-width:900px){
    .contactcontainer{
        background-image: $positanobackgroundgraynew;
    }
    .form{
        box-shadow:0 0 40px -10px $color2;
    }
}

@media only screen and(max-width:700px){
    .form{
        width:330px;
        height:420px;
        background:$backgroundtext;
        border-radius:8px;
        box-shadow:0 0 40px -10px $color2;
        margin: auto;
        padding:20px 30px;
        max-width:calc(100vw - 40px);
        box-sizing:border-box;
        font-family: $positanofont;
        position:relative;
    }
    
    h2{
        margin:10px 0;
        padding-bottom:10px;
        width:180px;
        color: $color1;
        border-bottom:3px solid $color2;
    }
    
    input{
        width:100%;
        padding:10px;
        box-sizing:border-box;
        background:none;
        outline:none;
        resize:none;
        border:0;
        font-family:$positanofont;
        transition:all .3s;
        border-bottom:2px solid $color2;
    }
    
    input:focus{
        border-bottom:2px solid $color2;
    }
    
    p:before{
        content:attr(type);
        display:block;
        margin:28px 0 0;
        font-size:14px;
        color:$color1;
    }
    
    button{
        float:right;
        padding:8px 12px;
        margin:8px 0 0;
        font-family:$positanofont;
        border:2px solid $color2;
        background:0;
        color:$color2;
        cursor:pointer;
        transition:all .3s
    }
    
    button:hover{
        background:$backgroundpositano;
        color: $color2;
    }
    
    .contactcontainer{
        background-image: $positanogradient1;
    }
    .contactcontainer{
        background-image: $positanogradient2;
    }
}

@media only screen and(max-width:500px){
    .form{
        background:$backgroundtext;
        box-shadow:0 0 40px -10px $color2;
    }
    h2{
        color: $color2;
        border-bottom:3px solid $color2;
    }
    
    input{
        font-family:$positanofont;
        transition:all .3s;
        border-bottom:2px solid $color2;
    }
    
    input:focus{
        border-bottom:2px solid $color2;
    }
    
    p:before{
        color:$color2;
    }
    
    button{
        float:right;
        padding:8px 12px;
        margin:8px 0 0;
        font-family: $positanofont;
        border:2px solid $color2;
    }
    
    button:hover{
        background:$backgroundpositano;
        color: $color2;
    }
    
    .contactcontainer{
        background-image: $positanobackgroundgray;
    }
}



/*about media*/

@media only screen and(min-width:900px){
    .maintext{
        background-image: $positanobackgroundgraynew;
    }
}

@media only screen and(max-width:700px){
    .maintext{
        background-image: $positanogradient2;
    }
}

@media only screen and(max-width:500px){
    .maintext{
        background-image: $positanobackgroundgray;
        display: block;
    }
    .pharagraph1{
        margin: 10px;
    }
    .pharagraph2{
        margin: 10px;
    }
    .pharagraph3{
        margin: 10px;
        margin-bottom: 0;
    }
}

@media only screen and(max-width:318px){
    .maintext{
        background-image: $positanobackgroundgray;
        display: block;
    }
    .pharagraph1{
        margin: 10px;
    }
    .pharagraph2{
        margin: 10px;
        margin-bottom: 0;
    }
    .pharagraph3{
        margin: 10px;
    }
}

/*shopping media*/

@media only screen and (min-width: 900px) {
    .mainscreen{
	min-height: 100vh;
	width: 100%;
    font-family: $positanofont;
    background-image: $positanobackgroundgraynew;
    color:$color2;
    padding-left: 30%;
    }
}

@media only screen and (max-width: 700px) {
    .mainscreen{
	min-height: 100vh;
	width: 100%;
    font-family: $positanofont;
    background-image: $positanogradient2;
    color:$color2;
    padding-left: 10%;
    }
    
    .card {
        width: 20rem;
        margin: 1rem auto;
        position:center;
        align-self: center;
        top: 20rem;
        display:flex;
        flex-direction: row;
    }
    
    .rightside {
        background-color: $backgroundtext;
        width: 25rem;
        padding: 2rem 1rem 1rem 1rem;
        box-shadow:0 0 40px -10px $color2;
    }
    
    p{
        display:block;
        font-size: 1.1rem;
        font-weight: 200;
        margin: .8rem 0;
    }
}

@media only screen and (max-width: 500px) {
    .mainscreen{
	min-height: 100vh;
	width: 100%;
    font-family: $positanofont;
    background-image: $positanobackgroundgray;
    color:$color2;
    padding-left: 0;
    }
    
    .card {
        width: 20rem;
        margin: 1rem auto;
        position:center;
        align-self: center;
        top: 10rem;
        display:flex;
        flex-direction: row;
    }
    
    .rightside {
        background-color: $backgroundtext;
        width: 20rem;
        padding: 2rem 1rem 1rem 1rem;
        box-shadow:0 0 40px -10px $color2;
    }
    
    p{
        display:block;
        font-size: 1.1rem;
        font-weight: 200;
        margin: .8rem 0;
    }
}





/*footer media*/

    @media only screen and (min-width: 900px){
        .under{
            background-image: $positanobackgroundgraynew;
        }
        .social{
            color:$color2;
            padding: 50px;
            font-size: 45px;
        }
        
        .social:hover{
            color: $color1;
        }
    }

    @media only screen and (max-width: 720px){
        .social{
            font-size: 30px;
            padding: 20px;
        }
    }    

    @media only screen and (max-width: 700px){
        .under{
            background-image: $positanogradient2;
        }
    }    

    @media only screen and (max-width: 500px){
        .under{
            background-image: $positanobackgroundgray;
        }
    }    




